/*nav style*/
.navbar{
    background: rgba(0, 0, 0, 0.8);
}
.nav-link , .navbar-brand{
    color: #f4f4f4;
    cursor: pointer;
    border-radius: 14px;
}
.nav-link{
    margin-right: 1em !important;
}
.nav-link:hover{
    background: #6b6b6b;
    color: #000000;
}
.navbar-collapse{
    justify-content: flex-end;
}
.navbar-toggler{
    background:#fff !important;
}

/*header style*/
.header{
    /*background-image: url('../images/nastol.com.ua-168055.jpg');*/
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}
/*.overlay{*/
/*    position: absolute;*/
/*    min-height: 100%;*/
/*    min-width: 100%;*/
/*    left: 0;*/
/*    top: 0;*/
/*    background: rgba(249, 249, 249, 0.51);*/
/*}*/
.description{
    position: absolute;
    top: 5%;
    margin: auto;
    padding: 2em;
}
.description h1{
    color:#F97300 ;
}
.description p{
    color:#666;
    font-size: 20px;
    width: 50%;
    line-height: 1.5;
}
.description button{
    border:1px  solid #F97300;
    background:#F97300;
    color:#fff;
}