{% extends 'base.html.twig' %}

{% block title %}Portfolio index{% endblock %}

{% block body %}
    <h1>Portfolio index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>PortfolioNumber</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Address</th>
                <th>BankcardNumber</th>
                <th>Cvv</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for portfolio in portfolios %}
            <tr>
                <td>{{ portfolio.id }}</td>
                <td>{{ portfolio.portfolioNumber }}</td>
                <td>{{ portfolio.name }}</td>
                <td>{{ portfolio.surname }}</td>
                <td>{{ portfolio.address }}</td>
                <td>{{ portfolio.bankcardNumber }}</td>
                <td>{{ portfolio.cvv }}</td>
                <td>
                    <a href="{{ path('portfolio_show', {'id': portfolio.id}) }}" class="btn btn-info btn-sm">show</a>
                    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}" class="btn btn-primary btn-sm">edit</a>
                    {{ include('portfolio/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('portfolio_new') }}" class="btn btn-primary btn-sm">Create new</a>
{% endblock %}
