{% extends 'base.html.twig' %}

{% block title %}New Portfolio{% endblock %}

{% block body %}
    <h1>Create new Portfolio</h1>

    {{ include('portfolio/_form.html.twig') }}

    <br>
    <a href="{{ path('portfolio_index') }}" class="btn btn-primary btn-sm">back to list</a>
{% endblock %}
