{% extends 'base.html.twig' %}

{% block title %}Portfolio{% endblock %}

{% block body %}
    <h1>Portfolio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ portfolio.id }}</td>
            </tr>
            <tr>
                <th>PortfolioNumber</th>
                <td>{{ portfolio.portfolioNumber }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ portfolio.name }}</td>
            </tr>
            <tr>
                <th>Surname</th>
                <td>{{ portfolio.surname }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ portfolio.address }}</td>
            </tr>
            <tr>
                <th>BankcardNumber</th>
                <td>{{ portfolio.bankcardNumber }}</td>
            </tr>
            <tr>
                <th>Cvv</th>
                <td>{{ portfolio.cvv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('portfolio_index') }}" class="btn btn-info btn-sm">back to list</a>

    <a href="{{ path('portfolio_edit', {'id': portfolio.id}) }}" class="btn btn-primary btn-sm">edit</a>

    {{ include('portfolio/_delete_form.html.twig') }}
{% endblock %}
