{% extends 'base.html.twig' %}

{% block title %}Edit TypeOfPortfolio{% endblock %}

{% block body %}
    <h1>Edit TypeOfPortfolio</h1>

    {{ include('type_of_portfolio/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('type_of_portfolio_index') }}">back to list</a>

    {{ include('type_of_portfolio/_delete_form.html.twig') }}
{% endblock %}
