{% extends 'base.html.twig' %}

{% block title %}TypeOfPortfolio index{% endblock %}

{% block body %}
    <h1>TypeOfPortfolio index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type_of_portfolio in type_of_portfolios %}
            <tr>
                <td>{{ type_of_portfolio.id }}</td>
                <td>{{ type_of_portfolio.name }}</td>
                <td>{{ type_of_portfolio.description }}</td>
                <td>
                    <a href="{{ path('type_of_portfolio_show', {'id': type_of_portfolio.id}) }}" class="btn btn-info btn-sm">show</a>
                    <a href="{{ path('type_of_portfolio_edit', {'id': type_of_portfolio.id}) }}" class="btn btn-primary btn-sm">edit</a>
                    {{ include('type_of_portfolio/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_of_portfolio_new') }}" class="btn btn-primary btn-sm">Create new</a>
{% endblock %}
