{% extends 'base.html.twig' %}

{% block title %}New TypeOfPortfolio{% endblock %}

{% block body %}
    <h1>Create new TypeOfPortfolio</h1>

    {{ include('type_of_portfolio/_form.html.twig') }}

    <br>
    <a href="{{ path('type_of_portfolio_index') }}" class="btn btn-primary btn-sm">back to list</a>
{% endblock %}
