{% extends 'base.html.twig' %}

{% block title %}TypeOfPortfolio{% endblock %}

{% block body %}
    <h1>TypeOfPortfolio</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type_of_portfolio.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ type_of_portfolio.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ type_of_portfolio.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_of_portfolio_index') }}" class="btn btn-info btn-sm">back to list</a>

    <a href="{{ path('type_of_portfolio_edit', {'id': type_of_portfolio.id}) }}" class="btn btn-primary btn-sm">edit</a>

    {{ include('type_of_portfolio/_delete_form.html.twig') }}
{% endblock %}
